@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Yusei+Magic&display=swap');

:root {
    --primary-color: #f59e0b;
    --secondary-color: #3b82f6;
    --white: #fff;
    --background: #444;
    --background-dark: #333;
    --gray: #ddd;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    color: var(--gray);
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 500px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--white);
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 0rem;
    margin-top: 0;
}

.navigation .link {
    color: white;
    padding: 0rem 0.2rem;
}

.nav-brand {
    margin-left: 0.5rem;
    display: inline;
    font-size: 1.5rem;
    font-family: 'Yusei Magic', sans-serif;
}

.nav-pills {
    display: inline;
    float: right;
    font-size: 1.2rem;
}

.navigation .link-active {
    color: var(--secondary-color);
    font-weight: bolder;
}

.hero {
    padding: 2rem 0rem;
    text-align: center;
}

.hero-image {
    padding-top: 3rem;
    max-width: 30rem;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2.5rem;
    color: var(--white);
}

.hero-heading span {
    color: var(--primary-color);
}

.section {
    padding: 2rem 0rem;
}

.section-dark {
    background-color: var(--background-dark);
    padding: 2rem 0rem;
}

.section-heading {
    color: var(--white);
    font-size: 1.7rem;
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1.5rem 0rem;
}

.footer-header {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.footer ul {
    padding-inline-start: 0px;
}
